[advice]
    statusHints = false
[alias]
    comit = commit
    git = !git
    grpe = grep
[color]
    ui = true
[completion]
    commands = -gitk
[fetch]
    prune = true
[ui]
    editor = vim
[user]
    name = Essam Gouda
    email = egouda@ualberta.ca
